.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
         causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
         `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  .mat-sidenav {
    width: 200px;
  }
  
  .btn-menu {
    width: 100%;
    height: 50px;
    margin-top: -5px;
  }
  
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .mat-expansion-panel:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }
  
  .mat-expansion-panel-header{
    text-align: center;
    
  
  }
  
  .items {
    padding-top: 2px;
    padding-right: 100%;
  }
  
  .item-title{
    font-size: 18px;
  }


  .btnOuput{
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 0%;
    border: 0px;
    
  }

  .btnOuput:hover{
    background: #F5F5F5;
    color:black
  }

  .btnMenu{
    background: white;
      position: relative;
      width: 100%;
      height: 50px;
      border-radius: 0%;
      border: 0px;
     padding-left: 10px;
     padding-right: 10px;
     text-align: left;
     border-bottom: 1px;
     border-style: solid;
     border-color: #F5F5F5;
  }

  .btnMenu:hover{
    background: #F5F5F5;
    color:black
  }


 

 

 

  
  
  