<mat-dialog-content class="mat-typography">
    <div class="row">
            <div class="col-12">
                Nueva GO
                <hr>
            </div>
            <div class="col-12 justify-content-end">
                <div class="row">
                    <div class="col-9">
                        <button mat-raised-button color="primary"  (click)="abrirDialogCrearLiderHost()">Crear lider</button>
                    </div>
                    
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <app-table-lideres-celula></app-table-lideres-celula>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5 mb-3 justify-content-end">
                <div class="row ">
                    <div class="col-10"></div>
                    <div class="col"><button  mat-raised-button mat-dialog-close (click)="cerrar()" color="accent">Cerrar</button></div>
                </div>
            </div>
    </div>
</mat-dialog-content>
                        
            
                    
        
        
